@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca:wght@400;700&display=swap');

/*
font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif;
*/

body {

    background-color:  hsl(233, 47%, 7%);
}

.footer-words {

    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.numbers {

    color: white;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    

}

.text {

    color: hsla(0, 0%, 100%, 0.6);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 10px;
    margin-bottom: 5px;
}

.text .numbers {
    
    
    font-size: 15px;
}

.container {

    display: flex;
    justify-content: center;
    margin-top: 150px;
     
}

.left-card {
    background-color: hsl(244, 38%, 16%);
    max-width: 30vw;
    max-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    
}

.right-card img {
   

width: 100%;
max-width: 30vw;
max-height: 60vh;
display: block;
/*height: 266.96px;*/
object-fit: cover;
opacity: 1.5;

mix-blend-mode: multiply; /*(This will mix the original colour of the img and the background colour together to create the shady purple colour.)***/

}

.right-card {

    position: relative;
    background-color: hsla(277, 64%, 61%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}



/*
.right-card::after {
  position: absolute;
    background-color:hsla(277, 64%, 61%);
    margin-top: 1px;
    opacity: 0.5;
}
*/

h2 {
    font-family: 'Inter', sans-serif;
    color: white;
    margin-left: 20px; 
    
}
.insights {
    color: hsl(277, 64%, 61%);
}

.para1 {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    color: hsla(0, 0%, 100%, 0.75); 
    margin-left: 20px; 
    margin-right: 10px;
}

@media only screen and (max-width: 425px){

    body{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .right-card img {
      order: -1;
    }


}